In [2]:
2+2

4

# Heading 1
## Heading 2
### Heading 3

* Bullet point

this is a md comment cell

Here is some code

Here is another code

In [5]:
2+2

4

In [6]:
3*4

12

In [7]:
5**2

25

In [8]:
str1 = "This is a test string"

In [9]:
str1

'This is a test string'

In [10]:
print(str1)

This is a test string

In [11]:
str2 = "This is a string with 'quotation marks'"

In [12]:
str2

"This is a string with 'quotation marks'"

In [13]:
print(str2)

This is a string with 'quotation marks'

In [14]:
str3 = 'This is a string with "quotation marks"'

In [15]:
str3

'This is a string with "quotation marks"'

In [16]:
print(str3)

This is a string with "quotation marks"

In [17]:
str4 = "hello {} this is a string".format(str1)

In [18]:
str4

'hello This is a test string this is a string'

In [20]:
str5 = "hello {}, {}, {} this is a string".format(str1, str2, str3)

In [21]:
str5

'hello This is a test string, This is a string with \'quotation marks\', This is a string with "quotation marks" this is a string'

In [22]:
print(str5)

hello This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [23]:
len(str5)

126

In [28]:
str6 = str5.replace("hello", "bye")

In [29]:
print(str5)

hello This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [30]:
print(str6)

bye This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [34]:
str6[3]

' '

In [37]:
str6[0:10]

'bye This i'

In [39]:
str6[-2]

'n'

In [44]:
str6[1:]

'ye This is a test string, This is a string with \'quotation marks\', This is a string with "quotation marks" this is a string'

In [45]:
str6[:10]

'bye This i'

In [46]:
str6[0:10:2]

'beTi '

In [47]:
type(str6)

str

# Lists

In [48]:
arr1 = [1,2,3]

In [49]:
ARR1 = [1,2,3,4,5]

In [50]:
arr1

[1, 2, 3]

In [51]:
arr1 == ARR1

False

In [52]:
print(arr1)

[1, 2, 3]

In [54]:
ARR1[::3]

[1, 4]

In [55]:
arr1[::1]

[1, 2, 3]

In [56]:
arr1[::2]

[1, 3]

In [57]:
arr2 = [1, "two", 3.333]

In [58]:
type(arr2)

list

In [59]:
arr2[:2:1]

[1, 'two']

In [60]:
arr3 = [[1,2,3], arr2, 5]

In [61]:
print(arr3)

[[1, 2, 3], [1, 'two', 3.333], 5]

In [62]:
arr4 = [arr3, arr1]

In [63]:
print(arr4)

[[[1, 2, 3], [1, 'two', 3.333], 5], [1, 2, 3]]

In [64]:
arr5 = [arr4]

In [65]:
print(arr5)

[[[[1, 2, 3], [1, 'two', 3.333], 5], [1, 2, 3]]]

In [66]:
arr5[0][1][2]

3

In [67]:
arr5[0][1][-1]

3

In [70]:
arr5[0][1][0]

1

In [72]:
arr5[0][0][0][1]

2

In [73]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [74]:
list(range(0,5,10))

[0]

In [75]:
list(range(0,5,2))

[0, 2, 4]

In [76]:
arr6 = list(range(0,10,2))

In [77]:
print(arr6)

[0, 2, 4, 6, 8]

In [79]:
arr6.sort()

In [80]:
print(arr6)

[0, 2, 4, 6, 8]

In [81]:
arr6.sort(reverse = True)

In [82]:
print(arr6)

[8, 6, 4, 2, 0]

In [83]:
arr6.append(10)

In [84]:
print(arr6)

[8, 6, 4, 2, 0, 10]

In [85]:
arr6[3] = 6

In [86]:
print(arr6)

[8, 6, 4, 6, 0, 10]

In [87]:
arr6[1:3] = [1]

In [88]:
print(arr6)

[8, 1, 6, 0, 10]

In [89]:
arr6.insert(10, 0)

In [90]:
print(arr6)

[8, 1, 6, 0, 10, 0]

In [91]:
arr6.insert(0, 10)

In [92]:
print(arr6)

[10, 8, 1, 6, 0, 10, 0]

In [93]:
arr6.remove(1)

In [94]:
print(arr6)

[10, 8, 6, 0, 10, 0]

In [95]:
arr6.remove(1000)

ValueError: list.remove(x): x not in list

In [96]:
del arr6[1]

In [97]:
print(arr6)

[10, 6, 0, 10, 0]

In [98]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Tuples

In [99]:
t1 = (1,2)

In [100]:
t1

(1, 2)

In [101]:
t2 = (1,2,1)

In [102]:
t2

(1, 2, 1)

In [103]:
t1[0]

1

In [104]:
t1[0] = 12

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [105]:
d1 = {"key1": 1, "key2": 1.2}

In [106]:
d1["key1"]

1

In [107]:
d1["key2"]

1.2

In [108]:
d2 = {1: "12321", 2: 1232}

In [109]:
d2[1]

'12321'

In [110]:
d2 = {1: 1, 2:2, 1:2}

In [111]:
d2[1]

2

In [116]:
d3 = {1:100, 2:3, 1:1}

In [117]:
d3[1]

1

In [118]:
d3[2]

3