In [2]:
2+2

4

# Heading 1
## Heading 2
### Heading 3

* Bullet point

this is a md comment cell

Here is some code

Here is another code

In [5]:
2+2

4

In [6]:
3*4

12

In [7]:
5**2

25

In [8]:
str1 = "This is a test string"

In [9]:
str1

'This is a test string'

In [10]:
print(str1)

This is a test string

In [11]:
str2 = "This is a string with 'quotation marks'"

In [12]:
str2

"This is a string with 'quotation marks'"

In [13]:
print(str2)

This is a string with 'quotation marks'

In [14]:
str3 = 'This is a string with "quotation marks"'

In [15]:
str3

'This is a string with "quotation marks"'

In [16]:
print(str3)

This is a string with "quotation marks"

In [17]:
str4 = "hello {} this is a string".format(str1)

In [18]:
str4

'hello This is a test string this is a string'

In [20]:
str5 = "hello {}, {}, {} this is a string".format(str1, str2, str3)

In [21]:
str5

'hello This is a test string, This is a string with \'quotation marks\', This is a string with "quotation marks" this is a string'

In [22]:
print(str5)

hello This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [23]:
len(str5)

126

In [28]:
str6 = str5.replace("hello", "bye")

In [29]:
print(str5)

hello This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [30]:
print(str6)

bye This is a test string, This is a string with 'quotation marks', This is a string with "quotation marks" this is a string

In [34]:
str6[3]

' '

In [37]:
str6[0:10]

'bye This i'